@charset "utf-8";






#section03 {
    
    width: 100%;
    height: 560px;
    position: relative;
    overflow: hidden;
}


#section03 input{
    display: none;
}



#section03 .m-slide-box {
    width: 300%;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.5s;
}


#section03 .circle-btn{
  display: flex;
  justify-content: center;
  border: 1px solid white;

  

    
}

#section03 .circle-btn .circle-button{
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background-color: rgb(219, 219, 219);
    margin-right: 8px;
}








.m-slide-box img {
    width: calc(100% / 3);
    padding-left: 1px;
    display: block;
    float: left;
    box-sizing: border-box;
}

.m-slide-btn {
    position: absolute;
    width: 100%;
    top: 35%;
    transform: translateY(-35%);
}


.m-slide-btn label {
    display: none;
}

.m-slide-btn .slide-l {
    position: absolute;
    left: 10px;
}

.m-slide-btn .slide-r {
    position: absolute;
    right: 10px;
}


input#slide-1:checked~.m-slide-box {
    left: 0;
}

input#slide-1:checked~.m-slide-btn .arr01 {
    display: block;
   
}

input#slide-2:checked~.m-slide-box {
    left: -1280px;
}

input#slide-2:checked~.m-slide-btn .arr02 {
    display: block;
}

input#slide-3:checked~.m-slide-box {
    left: -2560px;
}

input#slide-3:checked~.m-slide-btn .arr03 {
    display: block;
}




input#slide-1:checked~.circle-btn .circle01 .circle-button {
    background-color: rgb(73, 73, 73);
}

input#slide-2:checked~.circle-btn .circle02 .circle-button {
    background-color: rgb(73, 73, 73);
}

input#slide-3:checked~.circle-btn .circle03 .circle-button {
    background-color: rgb(73, 73, 73);
}
